@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

@indie:"Indie Flower";
@montserrat: "Montserrat";

@grey : #333333;
@blue : #03A89E;
@white: #ffffff;

@keyframes homeBut {
  0%{right:0px}
  50%{right:5px}
  100%{right:0px}
}
@keyframes rejouerBut {
  0%{transform: rotate(0deg);}
  100%{transform: rotate(-360deg);}
}
@keyframes winAStar {
  0%{
    font-size: 0em;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%) rotate(0deg);
  }
  60%{
    font-size: 30em;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%) rotate(360deg);
  }
  80%{
    font-size: 30em;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%) rotate(360deg);
  }
  95%{
    font-size: 2em;
    top:5vh;
    left:50vw;
    transform: translate(-50%,-50%) rotate(360deg);
  }
  100%{
    font-size: 0em;
    top:5vh;
    left:50vw;
    transform: translate(-50%,-50%) rotate(360deg);
  }
}


body{
  font-size: 16px;
  background-color: @grey;
  font-family: @montserrat,sans-serif;
  font-weight: 300;
}
.portraitScreen{
  display:none;
}
.accueil{
  width:100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left:0;
  z-index:2;
  background-color: @grey;
  color:@white;
  opacity: 1;
  transition: all 1s ease-in-out;
  #logo{
    text-align: center;
    img{
      width: auto;
      height: 20vh;
    }
  }
  h1{
    text-align: center;
    font-family: @indie,fantasy;
    color:@blue;
    font-size: 6em;
    margin-top: 1vh;
    margin-bottom: 5vh;
  }
  h2{
    font-weight: 700;
    text-align: center;
  }
  h3{
    font-weight: 700;
    font-size: 1em;
    margin-top: 6vh;
    color:@blue;
  }
  label{
    margin-top: 2vh;
    font-weight: 700;
    color:@blue;
    select{
      background-color: @blue;
      border: none;
    }
  }
  #jouer{
    margin-bottom: 1vh;
    margin-top: 5vh;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: @blue;
    border-radius: 12px;
    border: 2px solid @blue;
    color:@white;
    font-size: 1.5em;
    cursor: pointer;
    i{
      margin-right: 20px;
    }
    &:hover{
      text-decoration: none;
      background-color: @grey;
    }
  }
  #errorMes{
    margin-bottom: 3vh;
    text-align: center;
    i{
      color:red;
      margin-left: 20px;
      margin-right: 20px;
    }

  }
}
.slideLeftAccueil{
  left:-100vw;
  opacity: 0;
}
header{
  width:100vw;
  display: flex;
  justify-content: space-between;
  span{
    position:relative;
    font-size: 2em;
    color:@blue;
    margin-left: 4vw;
    margin-right: 4vw;
    &:hover{
      color:@white;
    }
  }
  #home{
    &:hover{
      animation: homeBut 0.6s ease-out infinite;
    }
  }
  #rejouer{
    &:hover{
      animation: rejouerBut 1s ease-out infinite;
    }
  }
  #stars{
    height:5vh;
    width: 50vw;
    text-align: center;
    padding-top: 10px;
    i{
      font-size: 1.8em;
      color:gold;
    }
  }
}
#game{
  margin-top: 5vh;
  .carte{
    // padding : 10%;
    position : relative;
    transform-style: preserve-3d;
    perspective: 600px;
    transition: all 0.6s ease-in-out;

    .front, .back{
      text-align: center;
      width: 80%;
      height:80%;
      position: absolute;
      left: 10%;
      top: 10%;
      // background-color: @grey;
      backface-visibility: hidden;
      transition: all 0.6s ease-in-out;
      cursor: pointer;
      img{
        width:auto;
        height: 100%;
      }
    }
    .front{
      transform: rotateY(0deg);
    }
    .back{
      transform: rotateY(-180deg);
    }


  }
  .returned{
    .front{
      transform: rotateY(180deg);
    }
    .back{
      transform: rotateY(0deg);
    }
  }
  .win{
    .front{
      transform: rotateY(180deg);
    }
    .back{
      transform: rotateY(0deg);
    }
  }
}
#winAStar{
  .star{
    color:gold;
    position: absolute;
    top:50vh;
    left:50vw;
    transform: translate(-50%,-50%);
    font-size: 0em;
  }
  .starWin{
      animation: winAStar 1s ease-out;
  }
}
.gameWin{
  background-color: rgba(51,51,51,0.6);
  position: absolute;
  top:0;
  left:0;
  width: 100vw;
  height:100vh;
  transform: scale(0,0);
  .modalGameWin{
    width:80vw;
    height:60vh;
    background-color: @grey;
    position: absolute;
    left:10vw;
    top:20vh;
    text-align: center;
    border-radius: 12px;
    transition: all 1s ease-in-out;
    transform: scale(0,0);
    #border{
      border-radius: 12px;
      border: 2px solid @blue;
      width:96%;
      height:92%;
      position:absolute;
      left:2%;
      top:4%;
      #gameWinStars{
        margin-top:8vh;
        width: 100%;
        text-align: center;
        color:gold;
        font-size: 2em;
      }
      h2{
        display:block;
        font-size: 4em;
        font-weight: 700;
        color:gold;
        margin-top: 10vh;
        margin-bottom: 5vh;
      }
      #nbCoup{
        color:@white;
        margin-bottom: 8vh;
      }
      span{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 20px;
        padding-right: 20px;
        background-color: @blue;
        border-radius: 12px;
        border: 2px solid @blue;
        color:@white;
        font-size: 1.5em;
        transition: all 0.2s ease-in-out;
        z-index: 2;
        i{
          position:relative;
          margin-right:20px;
        }
      }
      #winhome{
        margin-right: 80px;
        &:hover{
          text-decoration: none;
          background-color: @grey;
          i{
            animation: homeBut 1s ease-out infinite;
          }
        }
      }
      #winrejouer{
        &:hover{
          text-decoration: none;
          background-color: @grey;
          i{
            animation: rejouerBut 1s ease-out infinite;
          }
        }
      }
    }
  }
}
.open{
  transform: scale(1,1);
  .modalGameWin{
    transform: scale(1,1);
  }
}
#copyright{
  position:absolute;
  right: 20px;
  bottom: 10px;
  z-index: 5;
  color:rgba(255,255,255,0.7);
  font-size: 0.8em;
  a{
    color: inherit;
    &:hover{
      color:@blue;
      text-decoration: none;
    }
  }
}
@media screen and (max-width:768px){
  body{
    font-size: 14px;
  }
  header{
    span{
      &:hover{
       color:@blue;
      }
    }
    #home,#rejouer{
      &:hover{
        animation: none;
      }
    }
    #stars{
      i{
        font-size: 1em;
        color:gold;
      }
    }
  }
  .gameWin{
    .modalGameWin{
      width:100vw;
      height:100vh;
      left:0vw;
      top:0vh;
      #border{
        #gameWinStars{

        }
        h2{
          font-size: 3em;
        }
      }
    }
  }
}
@media screen and (max-width:768px) and (orientation:portrait){
  .portraitScreen{
    display:block;
    position: fixed;
    top:0;
    left:0;
    width:100vw;
    height: 100vh;
    z-index: 3;
    background-color: rgba(51,51,51,0.9);
    color:@blue;
    text-align: center;
    #turnScreen{
      margin-top: 40vh;
      background-color: @grey;
      padding-top:5vh;
      padding-bottom: 5vh;
      img{
        width:20vw;
        height: auto;
      }
      span{
        margin-top: 10px;
        display:block;
        font-weight: 700;
        font-size: 1.5em;
        width:100vw;
      }
    }
  }
}
